@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* *********************FONT********************* */

/*default version*/
@font-face {
    font-family: 'montserrat';
    src: url('fonts/lovely_font.eot');
    src:
        local('Lovely Font'),
        local('Lovely-Font'),
        url('fonts/lovely_font.otf') format('opentype');
}

@font-face {
    font-family: myFirstFont;
    src: url('assets/fonts/montserrat/Montserrat-Black.otf');
}

div {
    font-family: myFirstFont;
}

/*bold version*/
@font-face {
    font-family: 'montserrat';
    src: url('fonts/lovely_font_bold.eot');
    src:
        local('Lovely Font Bold'),
        local('Lovely-Font-Bold'),
        url('fonts/lovely_font_bold.otf') format('opentype');
    font-weight: bold;
}

/*container element*/
div {
    font-family: 'montserrat', sans-serif;
}

/*span elements inside the container div*/
span {
    font-weight: bold;
}
/* **********************FONT ends********************** */
body {
    font-family: 'Playfair Display', sans-serif;
    /* overflow: hidden; */
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
a:hover{
    color:#12984f !important;
}

header{
    position: sticky;
    top: 0px;
    /* background-color: #60b4df; */
    background-color: #eff3f5;
    width: 100%;
    z-index: 1000;
}

section{
    position: relative;
    /* height: calc(100vh - 3rem); */
    width: 100%;
    background: url('bg.jpg') no-repeat top center / cover;
    overflow: hidden;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 165, 238, 0.5);
}

.contain{
    max-width: 75rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-contain{
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-btn{
    flex: 3;
    display: flex;
}

.nav-links{
    flex: 2;
}

.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}
.Icanbtn {
    border-color: 3px solid #3e4998 !important;
    background-color: #fff;
    color: #000;
}

.Icanbtn:hover {
    border-color: 3px solid #12984f !important;
    background-color: #3e4998;
    color: #eee
}

.btn{
    display: inline-block;
    padding: .5rem 2rem;
    font-size: .8rem;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
}

.btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
}

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
    /* border: 1px solid #060686 !important; */
}

.nav-link > a{
    line-height: 3rem;
    color: #3d489a;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #000;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #000;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #000;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-contain{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #000;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #000;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-contain .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-contain .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-contain .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px){
    .hamburger-menu-contain{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #15076f;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
    .nav-link>a {
        line-height: 3rem;
        color: #fff !important;
        padding: 0 .8rem;
        letter-spacing: 1px;
        font-size: .95rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #060686;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        border: 2px dashed blue;
        background-color: #0aae36;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: #50a9d6;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #3a91bd;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #50a9d6;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }

    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    }
}

/* ******************************************************* */
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.nav-tabs .mynav-link.active {
    border-color: transparent;
    background-color: rgba(22, 226, 114, 0.4) !important;
    color: #12984f !important;
    border-bottom: 7px solid #12984f !important
}

.nav-fill .nav-item .mynav-link,
.nav-justified .nav-item .mynav-link {
    width: 100%;
    color: #000
}

.nav-tabs .mynav-link {
    border-top-left-radius: 5rem !important;
    border-top-right-radius: 5rem !important
}

.nav-tabs .mynav-link.active {
    border-color: transparent;
    background-color: #60D0FF;
    color: #000 !important;
    font-weight: 600
}

.mynav-link {
    height: 77px;
    font-size: 13px;
    background-color: #fff
}

.mynav-link:hover {
    border: none
}

.mynav-link:focus {
    outline: none
}

/* .tab-pane {
    height: 300px
} */
.ad-scroll {
    overflow-x: scroll;
    height: 400px
}
.scroll-y {
    overflow-y: scroll;
    height: 300px
}
.myscroll-y {
    overflow-y: scroll;
    height: 500px
}
.scroll-x {
    overflow-wrap: break-word;
    width: 300px;
}
/* ***************************Custom scrollbar*********************** */
.ican-scroll {
    background-color: transparent;
    height: 700px;
    /* border: 1px dotted black; */
    overflow-y: scroll;
    /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .ican-scroll::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
.ican-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Track */
.ican-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(116, 115, 127);
    border-radius: 10px;
}

/* Handle */
.ican-scroll::-webkit-scrollbar-thumb {
    background: rgb(12, 195, 16);
    border-radius: 10px;
}

/* Handle on hover */
.ican-scroll::-webkit-scrollbar-thumb:hover {
    background: #0900b3;
}
/* **********************Custom scrollbar ends*********************** */
.my-card {
    background-color: #fff;
    /* padding: 20px; */
    border: 2px solid #3d489a;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}.ican_btn {
    background-color: #fff;
    /* padding: 20px; */
    color: #000;
    border: 1px solid #3d489a;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}
.ican_btn:hover {
    background-color:#3d489a;
    /* padding: 20px; */
    color: #000;
    border: 1px solid rgb(41, 188, 30);
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}
.pic-card {
    background-color: #fff;
    /* padding: 20px; */
    border: 1px solid transparent;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}

/* ******************My webkit scroll************* */
.hide-scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.hide-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.hide-scroll::-webkit-scrollbar-thumb {
    background: #3d489a;
    border-radius: 10px;
}

/* Handle on hover */
.hide-scroll::-webkit-scrollbar-thumb:hover {
    background: #3d489a;
}

.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* .hide-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      .hide-scroll::-webkit-scrollbar {
        display: none;
      } */
      /* *********************************************** */
         /* *****************Spaces************** */
.naci-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
.naci-150 {
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}
.naci-200 {
    margin-top: 200px !important;
    margin-bottom: 200px !important;
}
/* *******************Dividers****************** */
.divider {
    position: relative;
    margin-top: 90px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #1e3fae, transparent);
}
.div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -9px;
    left: calc(50% - 9px);
    width: 18px;
    height: 18px;
    background-color: #28df99cc;
    border: 2px solid rgb(14, 44, 103);
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white,
        0 0 0 4px white;
}

  .icangrad {
    height: 20px;
    position: relative;
    width: 100%;
    background: radial-gradient(ellipse farthest-side at top center, #1e40af, transparent);
  }
   .icangrad:before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    height: 13px;
    background: linear-gradient(left, transparent, #1e40af, green, transparent);
   }
   /* macbook */

/*----------------------------------
    Macbook pro mockup from:
    http://jaredhardy.com/minimal-devices/
    
----------------------------------*/

.md-macbook-pro {
    display: block;
    width: 55.3125em;
    height: 31.875em;
    font-size: 13px;
    margin: 0 auto;

    @media (max-width:1199px) {
        font-size: 11px;
    }

    @media (max-width:1024px) {
        font-size: 10px;
    }

    @media (max-width:767px) {
        font-size: 7px;
    }

    @media (max-width:320px) {
        font-size: 5px;
    }

}

.md-macbook-pro .md-lid {
    width: 45em;
    height: 30.625em;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 1.875em;
    border: solid 0.1875em #cdced1;
    background: #131313;
}

.md-macbook-pro .md-camera {
    width: 0.375em;
    height: 0.375em;
    margin: 0 auto;
    position: relative;
    top: 1.0625em;
    background: #000;
    border-radius: 100%;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}

.md-macbook-pro .md-camera:after {
    content: "";
    display: block;
    width: 0.125em;
    height: 0.125em;
    position: absolute;
    left: 0.125em;
    top: 0.0625em;
    background: #353542;
    border-radius: 100%;
}

.md-macbook-pro .md-screen {
    width: 42.25em;
    height: 26.375em;
    margin: 0 auto;
    position: relative;
    top: 2.0625em;
    /* background: #1d1d1d; */
    background: #fff;
    overflow: hidden;
}

.md-macbook-pro .md-screen img {
    width: 100%;
}

.md-macbook-pro .md-base {
    width: 100%;
    height: 0.9375em;
    position: relative;
    top: -0.75em;
    background: #c6c7ca;
}

.md-macbook-pro .md-base:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5em;
    margin: 0 auto;
    position: relative;
    bottom: -0.1875em;
    background: #b9babe;
    border-radius: 0 0 1.25em 1.25em;
}

.md-macbook-pro .md-base:before {
    content: "";
    display: block;
    width: 7.6875em;
    height: 0.625em;
    margin: 0 auto;
    position: relative;
    background: #a6a8ad;
    border-radius: 0 0 0.625em 0.625em;
}

.md-macbook-pro.md-glare .md-lid:after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 1.25em 0 0;
    background: -webkit-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    background: -moz-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    background: -o-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}
/* mac ends */
/* ICAN BTOP */
.ican-btop{
    border-top: 6px solid #1a098d !important;
}
/* ***************My Altered Tailwind *************** */
.animate-ping {animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;}

@keyframes ping {

    75%,
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
/* ************************Footer******************** */
html.sr .load-hidden {
    visibility: hidden;
}

.widget-list {
    list-style: none;
}

.widget {
    margin: 0.5rem;
    background: white;
}

/* extension */
html.sr .widget {
    visibility: hidden;
}
/* *********************Homepage Counter********************** */
.counter-section i {
    display: block;
    margin: 0 0 10px
}

.counter-section span.counter {
    font-size: 40px;
    line-height: 60px;
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px
}

.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left;
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px;
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}

.counter-subheadline span {
    float: right;
}


/* *********************Homepage Counter Ends********************** */

/* ****************************Announcement************************************ */
.webinar {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 50px;
    margin: 0 auto
}

.news {
    width: 76%;
    background: #2a4ab2;
    padding: 0 2%;
    color: #fff;
}


.seasons {
    width: 20%;
    text-align: center;
    background: #12984f;
    position: relative;
    color: #fff;
}

.seasons:after {
    position: absolute;
    content: "";
    right: -22%;
    border-left: 20px solid #12984f;
    border-top: 28px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 21px solid transparent;
    top: 0px
}

.seasons h5 {
    font-size: 18px;
    margin: 8% 0
}

.news marquee {
    font-size: 18px;
    margin-top: 12px
}

.news-content p {
    margin-right: 41px;
    display: inline
}

/* *******************Student body-nav hover ********************** */
.hover-trigger .hover-target {
    display: none;
}

.hover-trigger:hover .hover-target {
    display: block;
}
/* *******************Student body-nav hover end ********************** */